.text-swal2{
    font-size: 16px;
    line-height: 23px;
}
.text-swal2 a{
    font-size: 16px;
}


/**************Вас может заинтересовать**************/
.you-may-be-interested .items{
    max-width: 540px;
}
.you-may-be-interested .rr-widget{
     margin-top: 0!important;
}
.you-may-be-interested .rr-widget .item-image img {
    max-width: 90px!important;
    height: auto;
}
.you-may-be-interested .rr-widget .item {
    width: 236px!important;
}
.you-may-be-interested .rr-widget .rr-labels {
    width: 55%!important;
}
.you-may-be-interested .rr-widget .rr-icons {
    width: 45%!important;
}
/**************Вас может заинтересовать**************/

.ui-autocomplete{
    max-width: 600px;
}
.ui-autocomplete li{
    display: block;
    width: 100%;
    float: left;
    padding: 0 10px;
}
.ui-autocomplete li a{
    display: table!important;
    width: 100%;
}
.ui-autocomplete li a:hover .name{
    text-decoration: underline;
}
.list_item_container .image{
    width: 50px;
    float: left;
    display: block;
}
.list_item_container .name{
    float: left;
    padding-top: 10px;
    padding-left: 5px;
    display: block;
    width: 500px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.list_item_container .image img{
    max-width: 100%;
}
/*
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background-color: #ffffff!important;
    background-image: none!important;

    border: 0px solid #ffffff!important;
    padding: 2px .4em!important;
    margin: 0!important;
}*/