.btn-transparent{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
}
.red{
    color: red;
}
.green{
    color: #00ba00;
}
.margin-padding-none{
    margin: 0;
    padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 23px!important;
    padding-left: 3px!important;
}
a{
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
.is-delete {
    opacity: 0.5!important;
    background-color: #ffdfdf!important;
}


/* Статусы */
.status-new{
    color: #3c8dbc;
}
.status-ways{
    color: #ff00d2;
}
.status-waiting-for-payment{
    color: #18bdc6;
}
.status-ready-for-issue{
    color: #f39c12;
}
.status-completed{
    color: #24b80b;
}
.status-canceled{
    color: red;
}





